@use "../../../scss" as *;

#jumboCon {
    @include box-reset-default;
    //border: $gb-con_5-sol-red;
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center;
    transition: background-image 2s ease-in-out, opacity 1s ease-out; 
    transition-delay: 1s;
    height: 100vh;
    position: relative;
    transform: translateY(20px);
    animation: fadeIn 1s ease-out forwards; 
    animation-delay: 1s;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.2); 
    }
    #jumboFrame {
        @include box-reset-default;
        //border: $gb-row_5-sol-ylw;
        height: 100%;
        position: relative;
        z-index: 2;
        #jumboInnerFrame {
            @include box-reset-default;
            border: 5px solid white;
            border-radius: 10px;
            margin: 30px;
            transition: border-color 1s linear;
            clip-path: polygon(
                0 0, 100% 0, 100% 100%, 0 100%, 0 0,
                0 155px, 70px 155px, 70px 0, 0 0
            );
        }
        .hovered-border {
            border-color: $cyberGreen !important;
        }
        #jumboInnerLogo {
            @include box-reset-default;
            //border: $gb-col_5-sol-blu;
            position: absolute;
            height: 100%;
            #symbRow {
                @include box-reset-default;
                //border: $gb-row_2-dsh-ylw;
                height: 50%;
                margin: 30px 30px -30px 30px;
                #nomaSymbol {
                    @include box-reset-default;
                    //border: $gb-col_2-dsh-cyn;
                    height: 155px;
                    padding: 5px;
                    position: relative;
                    top: -7.5px;
                    left: -7.5px;
                    cursor: pointer;
                }
            }
            #nameRow {
                @include box-reset-default;
                //border: $gb-row_2-dsh-ylw;
                height: 50%;
                margin: -60px 30px 25px 30px;
                align-content: end;
                justify-content: end;
                opacity: 0;
                animation: fadeIn 1.5s ease-out forwards;
                #nomaName {
                    @include box-reset-default;
                    //border: $gb-col_2-dsh-cyn;
                    height: 110px;
                    margin: 20px 27px 15px 20px;
                }
            }
        }
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}