@use "../scss" as *;

#jumboCon {
    @include box-reset-default;
    //border: $gb-con_5-sol-red;
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center;
    transition: background-image 2s ease-in-out;
    transition-delay: 1s;
    height: 100vh;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.2); 
    }
    #jumboFrame {
        @include box-reset-default;
        //border: $gb-row_5-sol-ylw;
        height: 100%;
        position: relative;
        z-index: 2;
        #jumboInnerFrame {
            @include box-reset-default;
            border: 2px solid white;
            border-radius: 10px;
            margin: 30px;
            #symbRow {
                @include box-reset-default;
                //border: $gb-row_2-dsh-ylw;
                height: 50%;
                #nomaSymbolWhite {
                    @include box-reset-default;
                    //border: $gb-col_2-dsh-cyn;
                    height: 100px;
                    margin: 25px;
                }
            }
            #nameRow {
                @include box-reset-default;
                //border: $gb-row_2-dsh-ylw;
                height: 50%;
                align-content: end;
                justify-content: end;
                #nomaNameWhite {
                    @include box-reset-default;
                    //border: $gb-col_2-dsh-cyn;
                    height: 100px;
                    margin: 20px 27px 20px 20px;
                }
            }
        }
    }
}