@use "../../../scss" as *;

#projectsCon {
    @include box-reset-default;
    //border: $gb-con_5-sol-red;
    height: 100vh;
    height: 100svh;
    #projTitleRow {
        @include box-reset-default;
        //border: $gb-row_5-sol-ylw;
        height: 25%;
        background-color: $pastelBlue;
        //border-bottom: 3px solid $cyberGreen;
        align-content: end;
        justify-content: center;
        padding: 0 25px 25px 25px;
        #projTitle {
            @include box-reset-default;
            //border: $gb-col_5-sol-blu;
            font-size: 9vw;
            -webkit-text-stroke: 1.2px white;
            overflow: hidden;
        }
    }
    #cardsRow {
        @include box-reset-default;
        //border: $gb-row_5-sol-ylw;
        height: 75%;
        #card {
            @include box-reset-default;
            //border: $gb-col_5-sol-blu;
            height: 100%;
            position: relative;
            img {
                @include box-reset-default;
                //border: $gb-elm_2-dsh-lgr;
                position: absolute;
                z-index: -1;
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
            a {
                text-decoration: none;
                color: inherit; 
            }
            #projectTitle {
                @include box-reset-default;
                //border: $gb-elm_2-dsh-lgr;
                background-color: rgb(0, 0, 0, 0);
                height: 100%;
                width: 100%;
                align-content: center;
                justify-items: center;
                color: rgb(0, 0, 0, 0);
                h5 {
                    //border: $gb-elm_2-dsh-lgr;
                    width: 100%;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    padding: 25px 5px 25px 5px;
                }
            }
            #projectTitle:hover {
                @include box-reset-default;
                //border: $gb-elm_2-dsh-lgr;
                background-color: rgb(0, 0, 0, 0);
                background-color: rgb(0, 0, 0, 0.5);
                transition: background-color 0.2s linear;
                height: 100%;
                width: 100%;
                text-align: center;
                align-content: center;
                color: white;
                h5:hover {
                    color: $cyberGreen;
                    cursor: pointer;
                }
            }
        }
    }
}

//-----------------------------------------------------------------------------------------------------------

#prjHeaderCon {
    @include box-reset-default;
    //border: $gb-con_5-sol-red;
    height: 100vh;
    height: 100svh;
    position: relative;
    background-color: rgba(0, 0, 0, 0.25);
    #jumboFilter{
        @include box-reset-default;
        //border: $gb-col_5-sol-blu;
        position: absolute;
        z-index: 2;
        width: 100%;
        height: 100%;
        background-color: white;
    }
    #jumboImageWrapper {
        @include box-reset-default;
        //border: $gb-col_5-sol-blu;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        overflow: hidden;
        opacity: 0;
        transform: translateY(20px);
        animation: fadeIn 2s ease-out forwards;
        animation-delay: 0.5s;  
        #backgroundImg {
            @include box-reset-default;
            //border: $gb-elm_5-sol-grn;
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
    #prjMenuHeaderRow {
        @include box-reset-default;
        //border: $gb-row_5-sol-ylw;
        height: 50%;
        position: relative;
        z-index: 2;
        align-content: end;
        justify-content: center;
        padding: 30px;
        #prjMenuHeaderCol {
            @include box-reset-default;
            //border: $gb-elm_5-sol-grn;
            height: 100%;
            opacity: 0;
            animation: fadeIn 1.5s ease-out forwards;
            #menuIcon {
                @include box-reset-default;
                //border: $gb-elm_5-sol-lgr;
                height: 50px;
                cursor: pointer;
            }
        }
    }
    #prjHeaderRow {
        @include box-reset-default;
        //border: $gb-row_5-sol-ylw;
        height: 50%;
        position: relative;
        z-index: 2;
        align-content: end;
        justify-content: center;
        #prjHeaderCol {
            @include box-reset-default;
            border-bottom: 5px solid white;
            margin: 30px;
            align-content: end;
            justify-items: center;
            padding-bottom: 20px;
            opacity: 0;
            animation: fadeIn 1.5s ease-out forwards;
            #prjTitle {
                @include box-reset-default;
                //border: $gb-elm_5-sol-lgr;
                width: fit-content;
                font-size: 12vh;
                opacity: 0;
                animation: fadeIn 3s ease-out forwards;
                text-align: center;
            }
        }
    }
}
#preImgsCon {
    @include box-reset-default;
    //border: $gb-con_5-sol-red;
    height: 100vh;
    height: 100svh;
    align-content: center;
    #preImgsRow {
        @include box-reset-default;
        //border: $gb-row_5-sol-org;
        align-content: center;
        justify-content: center;
        height: 100%;
        padding: 25px;
        #preImgsCol {
            @include box-reset-default;
            //border: $gb-col_5-sol-blu;
            align-content: center;
            justify-content: center;
            padding: 25px;
            #miniTessSymb {
                @include box-reset-default;
                //border: $gb-elm_2-dsh-lgr;
                height: 200px;
            }
        }
        #prjTextCol {
            @include box-reset-default;
            //border: $gb-col_5-sol-blu;
            align-content: center;
            #prjTextElm {
                @include box-reset-default;
                //border: $gb-elm_2-dsh-lgr;
                border-left: 2px solid black;
                border-right: 2px solid black;
                padding: 15px;
                h4{ 
                    color: black;
                    font-weight: 100;
                    padding: 5px;
                }
            }
        }
    }
}
#imgsCon {
    @include box-reset-default;
    //border: $gb-con_5-sol-red;
    height: fit-content;
    #imgsRow {
        @include box-reset-default;
        //border: $gb-row_5-sol-org;
        height: fit-content;
        padding: 25px 50px 25px 50px;
        align-content: center;
        justify-content: center;
        #prjIMG {
            @include box-reset-default;
            //border: $gb-col_5-sol-blu;
            height: fit-content;
            width: fit-content;
        }
    }
}
#prjFooterCon {
    @include box-reset-default;
    //border: $gb-con_5-sol-red;
    height: 25vh;
    align-content: end;
    #backBtnRow {
        @include box-reset-default;
       //border: $gb-row_5-sol-org;
        height: 50px;
        color: black;
        #backBtn {
            //border: $gb-col_5-sol-blu;
            width: 100%;
        }
        #backBtn:hover {
            color: $cyberGreen;
        }
    }
    #prjFooterRow {
        @include box-reset-default;
        //border: $gb-row_5-sol-org;
        height: 100px;
        background-color: $cyberGreen;
        align-content: center;
        justify-content: center;
        #prjFooterCol {
            @include box-reset-default;
            //border: $gb-col_5-sol-blu;
            color: black;
            align-content: center;
            justify-items: center;
            h4 {
                @include box-reset-default;
                font-weight: 700;
            }
            h5 {
                @include box-reset-default;
            }
        }
    }
}

#prjHeaderCon {
    .fade-out-target {
        opacity: 1;
        transition: opacity 1.5s ease-out;
    }
    
    .fade-out-filter {
        opacity: 0 !important;
        transition: opacity 3s ease-out 1s;
    }
    
    .fade-in-target {
        opacity: 0;
        transform: translateX(-75px);
        transition: opacity 1.25s ease-out, transform 1.25s ease-out;
    }
    
    .fade-in-up {
        opacity: 1 !important;
        transform: translateX(0) !important;
        transition-delay: calc(var(--delay, 0ms));
    }
}

@media only screen and (max-width: 768px) {
    #preImgsCon {
        #preImgsRow {
            #preImgsCol {
                @include box-reset-default;
                //border: $gb-col_5-sol-blu;
                align-content: start;
                justify-content: center;
                padding: 25px;
                height: 300px;
                #miniTessSymb {
                    @include box-reset-default;
                    //border: $gb-elm_2-dsh-lgr;
                    height: 175px;
                }
            }
        }
    }
    #imgsCon {
        #imgsRow {
            padding: 10px;
        }
    }
    #prjHeaderCon {
        #prjMenuHeaderRow {
            #prjMenuHeaderCol {
                #menuIcon {
                    @include box-reset-default;
                    //border: $gb-elm_5-sol-lgr;
                    height: 35px;
                    cursor: pointer;
                }
            }
        }
    }
    #prjHeaderCon {
        #prjHeaderRow {
            #prjHeaderCol {
                #prjTitle {
                    font-size: 7vh;
                }
            }
        }
    }
}