@use "../../../scss" as *;

#aboutCon {
    @include box-reset-default;
    //border: $gb-con_5-sol-red;
    height: fit-content;
    #mainLogoRow {
        @include box-reset-default;
        //border: $gb-row_5-sol-ylw;
        height: 110vh;
        align-content: center;
        justify-content: center;
        #fullLogoCol {
            @include box-reset-default;
            //border: $gb-col_5-sol-blu;
            #fullLogo {
                @include box-reset-default;
                //border: $gb-elm_5-dsh-lgr;
                height: 250px;
            }
        }
    }
    #aboutTextRow {
        @include box-reset-default;
        //border: $gb-row_5-sol-ylw;
        min-height: 110vh;
        max-height: fit-content;
        background-color: $pastelBlue;
        align-content: center;
        justify-content: center;
        #textCol {
            @include box-reset-default;
            //border: $gb-col_5-sol-blu;
            justify-items: center;
            width: 60%;
            margin-top: 125px;
            margin-bottom: 125px;
            img {
                @include box-reset-default;
                //border: $gb-elm_2-dsh-lgr;
                height: 100px;
                padding-bottom: 25px;
            }
            h3 {
                text-align: center;
                margin-bottom: 25px;
            }
            p {
                font-family: Helvetica, sans-serif;
                font-weight: 400;
                font-size: 1.1rem;
                text-align: justify;
            }
        }
    }
}