@use "../../../scss" as *;

#aboutCon {
    @include box-reset-default;
    //border: $gb-con_5-sol-red;
    height: fit-content;
    #mainLogoRow {
        @include box-reset-default;
        //border: $gb-row_5-sol-ylw;
        height: 110vh;
        height: 110svh;
        align-content: center;
        justify-content: center;
        #fullLogoCol {
            @include box-reset-default;
            //border: $gb-col_5-sol-blu;
            height: fit-content;
            width: fit-content;
            padding: 75px;
            #fullLogo {
                @include box-reset-default;
                //border: $gb-elm_5-dsh-lgr;
                max-width: 400px;
                width: 100%;
                height: auto;       
            }
        }
    }
    #aboutTextRow {
        @include box-reset-default;
        //border: $gb-row_5-sol-ylw;
        min-height: 110vh;
        min-height: 110svh;
        max-height: fit-content;
        background-color: $pastelBlue;
        align-content: center;
        justify-content: center;
        #textCol {
            @include box-reset-default;
            //border: $gb-col_5-sol-blu;
            justify-items: center;
            width: 1300px;
            padding: 50px;
            margin-top: 125px;
            margin-bottom: 125px;
            img {
                @include box-reset-default;
                //border: $gb-elm_2-dsh-lgr;
                height: 100px;
                padding-bottom: 25px;
            }
            h3 {
                text-align: center;
                margin-bottom: 25px;
            }
            #text {
                font-family: Helvetica, sans-serif;
                font-weight: 400;
                font-size: 1.1rem;
                text-align: justify;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    #aboutCon {
        #aboutTextRow {
            #textCol {  
                h3 {
                    text-align: center;
                    margin-bottom: 25px;
                    font-size: 1.2rem;
                }
                #text {
                    font-size: 0.85rem;
                    padding-top: 20px;
                }
            }
        }
    }
}

#aboutCon {
    .fade-in-target {
        opacity: 0;
        transform: translateY(75px);
        transition: opacity 0.75s ease-out, transform 0.75s ease-out;
    }
    .fade-in-up {
        opacity: 1 !important;
        transform: translateY(0) !important;
        transition-delay: calc(var(--delay, 0ms));
    }
}