@use "../../../scss" as *;

#contactCon {
    @include box-reset-default;
    //border: $gb-con_5-sol-red;
    height: 200vh;
    #tessSymbolRow {
        @include box-reset-default;
        //border: $gb-row_5-sol-ylw;
        height: 63%;
        align-content: center;
        justify-content: center;
        #tessSymbol {
            @include box-reset-default;
            //border: $gb-col_5-sol-blu;
            height: fit-content;
            img {
                @include box-reset-default;
                //border: $gb-elm_2-dsh-lgr;
                height: 300px;
            }
        }
    }
    #contactsRow {
        @include box-reset-default;
        //border: $gb-row_5-sol-ylw;
        height: 25%;
        align-content: center;
        justify-content: center;
        display: flex;
        justify-content: space-around;
        padding-bottom: 175px;
        #adressCol {
            @include box-reset-default;
            //border: $gb-col_5-sol-blu;
            height: 250px;
            width: 250px;
            text-align: center;
            color: black;
            img {
                @include box-reset-default;
                //border: $gb-elm_2-dsh-lgr;
                height: 100px;
                padding: 10px;
            }
            h5 {
                bottom: 0px;
            }
        }
        #phoneCol {
            @include box-reset-default;
            //border: $gb-col_5-sol-blu;
            height: 250px;
            width: 250px;
            text-align: center;
            color: black;
            img {
                @include box-reset-default;
                //border: $gb-elm_2-dsh-lgr;
                height: 100px;
                padding: 10px;
            }
        }
        #emailCol {
            @include box-reset-default;
            //border: $gb-col_5-sol-blu;
            height: 250px;
            width: 250px;
            text-align: center;
            color: black;
            img {
                @include box-reset-default;
                //border: $gb-elm_2-dsh-lgr;
                height: 100px;
            }
        }
    }
    #followRow {
        @include box-reset-default;
        //border: $gb-row_5-sol-ylw;
        height: 5%;
        align-content: center;
        justify-content: center;
        #followUs {
            @include box-reset-default;
            //border: $gb-col_5-sol-blu;
            color: black;
            text-align: center;
            font-size: 1rem;
            padding-bottom: 5px;
        }
        h5 {
            @include box-reset-default;
            //border: $gb-col_5-sol-blu;
            color: black;
            text-align: center;
            a {
                text-decoration: none;
                font-weight: lighter;
                color: black;
            }
        }
        a:hover {
            color: $cyberGreen;
            cursor: pointer;
            transition: color 0.2s ease-in-out;
        }
    }
    #footerRow {
        @include box-reset-default;
        //border: $gb-row_5-sol-org;
        height: 7%;
        background-color: $cyberGreen;
        justify-content: center;
        #footerCol {
            @include box-reset-default;
            //border: $gb-col_5-sol-blu;
            color: black;
            align-content: center;
            justify-items: center;
            h4 {
                @include box-reset-default;
                font-weight: 700;
            }
            h5 {
                @include box-reset-default;
            }
        }
    }
}