@use "../../../scss" as *;

#contactCon {
    @include box-reset-default;
    //border: $gb-con_5-sol-red;
    height: fit-content;
    #tessSymbolRow {
        @include box-reset-default;
        //border: $gb-row_5-sol-ylw;
        height: 100vh;
        height: 100svh;
        align-content: end;
        justify-content: center;
        padding: 150px;
        #tessSymbol {
            @include box-reset-default;
            //border: $gb-col_5-sol-blu;
            height: fit-content;
            img {
                @include box-reset-default;
                //border: $gb-elm_2-dsh-lgr;
                width: 175px;
                max-width: 100%;
            }
        }
    }
    #contactsRow {
        @include box-reset-default;
        //border: $gb-row_5-sol-ylw;
        height: 80vh;
        height: 80svh;
        min-height: fit-content;
        display: flex;
        align-content: center;
        justify-content: space-around;
        #adressCol {
            @include box-reset-default;
            //border: $gb-col_5-sol-blu;
            height: 250px;
            width: 250px;
            text-align: center;
            color: black;
            align-content: center;
            img {
                @include box-reset-default;
                //border: $gb-elm_2-dsh-lgr;
                height: 75px;
                padding: 10px;
            }
            h6 {
                //border: $gb-elm_2-dsh-lgr;
                bottom: 0px;
            }
        }
        #phoneCol {
            @include box-reset-default;
            //border: $gb-col_5-sol-blu;
            height: 250px;
            width: 250px;
            text-align: center;
            color: black;
            align-content: center;
            img {
                @include box-reset-default;
                //border: $gb-elm_2-dsh-lgr;
                height: 75px;
                padding: 10px;
            }
            h6 {
                //border: $gb-elm_2-dsh-lgr;
                bottom: 0px;
            }
        }
        #emailCol {
            @include box-reset-default;
            //border: $gb-col_5-sol-blu;
            height: 250px;
            width: 250px;
            text-align: center;
            color: black;
            align-content: center;
            img {
                @include box-reset-default;
                //border: $gb-elm_2-dsh-lgr;
                height: 75px;
            }
            h6 {
                //border: $gb-elm_2-dsh-lgr;
                bottom: 0px;
            }
        }
    }
    #followRow {
        @include box-reset-default;
        //border: $gb-row_5-sol-ylw;
        height: 10vh;
        height: 10svh;
        align-content: center;
        justify-content: center;
        #followUs {
            @include box-reset-default;
            //border: $gb-col_5-sol-blu;
            color: black;
            text-align: center;
            font-size: 1rem;
            padding-bottom: 5px;
        }
        h6 {
            @include box-reset-default;
            //border: $gb-col_5-sol-blu;
            color: black;
            text-align: center;
            a {
                text-decoration: none;
                font-weight: lighter;
                color: black;
            }
        }
        a:hover {
            color: $cyberGreen;
            cursor: pointer;
            transition: color 0.2s ease-in-out;
        }
    }
    #footerRow {
        @include box-reset-default;
        //border: $gb-row_5-sol-org;
        height: 100px;
        background-color: $cyberGreen;
        justify-content: center;
        #footerCol {
            @include box-reset-default;
            //border: $gb-col_5-sol-blu;
            color: black;
            align-content: center;
            justify-items: center;
            h4 {
                @include box-reset-default;
                font-weight: 700;
            }
            h6 {
                @include box-reset-default;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    #contactCon {
        #tessSymbolRow {
            align-content: center;
            padding: 50px;
            #tessSymbol {
                img {
                    @include box-reset-default;
                    //border: $gb-elm_2-dsh-lgr;
                    width: 150px;
                    max-width: 100%;
                }
            }
        }
    }
}