@use "../../../../scss" as *;

#prjHeaderCon {
    @include box-reset-default;
    //border: $gb-con_5-sol-red;
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center;
    height: 100vh;
    position: relative;
    opacity: 0;
    animation: fadeIn 1s ease-out forwards;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.2); 
    }
    #prjHeaderRow {
        @include box-reset-default;
        //border: $gb-row_5-sol-ylw;
        height: 100%;
        position: relative;
        z-index: 2;
        #prjHeaderCol {
            @include box-reset-default;
            border-bottom: 5px solid white;
            margin: 30px;
            align-content: end;
            justify-items: center;
            padding-bottom: 20px;
            opacity: 0;
            animation: fadeIn 1.5s ease-out forwards;
            #prjTitle {
                @include box-reset-default;
                //border: $gb-elm_5-sol-lgr;
                width: fit-content;
                font-size: 7rem;
                opacity: 0;
                animation: fadeIn 3s ease-out forwards;
            }
        }
    }
}
#preImgsCon {
    @include box-reset-default;
    //border: $gb-con_5-sol-red;
    height: 100vh;
    align-content: center;
    #preImgsRow {
        @include box-reset-default;
        //border: $gb-row_5-sol-org;
        align-content: center;
        justify-content: center;
        height: 50%;
        #preImgsCol {
            @include box-reset-default;
            //border: $gb-col_5-sol-blu;
            align-content: center;
            justify-content: center;
            #miniTessSymb {
                @include box-reset-default;
                //border: $gb-elm_2-dsh-lgr;
                height: 250px;
            }
        }
        #prjTextCol {
            @include box-reset-default;
            //border: $gb-col_5-sol-blu;
            height: 100%;
            align-content: center;
            padding: 50px;
            h4{ 
                color: black;
                font-weight: 100;
                padding: 5px;
            }
        }
    }
}
#imgsCon {
    @include box-reset-default;
    //border: $gb-con_5-sol-red;
    height: fit-content;
    #imgsRow {
        @include box-reset-default;
        //border: $gb-row_5-sol-org;
        height: fit-content;
        padding: 25px 50px 25px 50px;
        align-content: center;
        justify-content: center;
        #prjIMG {
            @include box-reset-default;
            //border: $gb-col_5-sol-blu;
            height: fit-content;
            width: fit-content;
        }
    }
}
#prjFooterCon {
    @include box-reset-default;
    //border: $gb-con_5-sol-red;
    height: 25vh;
    align-content: end;
    #backBtnRow {
        @include box-reset-default;
       //border: $gb-row_5-sol-org;
        height: 50px;
        color: black;
        #backBtn {
            //border: $gb-col_5-sol-blu;
            width: 100%;
        }
        #backBtn:hover {
            color: $cyberGreen;
        }
    }
    #prjFooterRow {
        @include box-reset-default;
        //border: $gb-row_5-sol-org;
        height: 100px;
        background-color: $cyberGreen;
        align-content: center;
        justify-content: center;
        #prjFooterCol {
            @include box-reset-default;
            //border: $gb-col_5-sol-blu;
            color: black;
            align-content: center;
            justify-items: center;
            h4 {
                @include box-reset-default;
                font-weight: 700;
            }
            h5 {
                @include box-reset-default;
            }
        }
    }
}