@use "../../../../scss" as *;

#prjHeaderCon {
    @include box-reset-default;
    //border: $gb-con_5-sol-red;
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center;
    height: 100vh;
    position: relative;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.2); 
    }
    #prjHeaderRow {
        @include box-reset-default;
        //border: $gb-row_5-sol-ylw;
        height: 100%;
        position: relative;
        z-index: 2;
        #prjHeaderCol {
            @include box-reset-default;
            border: 5px solid white;
            border-radius: 10px;
            margin: 30px;
            align-content: end;
            justify-items: center;
            padding-bottom: 50px;
            #prjTitle {
                @include box-reset-default;
                //border: $gb-elm_5-sol-lgr;
                width: fit-content;
                font-size: 10rem;
            }
        }
    }
}
#preImgsCon {
    @include box-reset-default;
    //border: $gb-con_5-sol-red;
    height: 100vh;
    align-content: center;
    #preImgsRow {
        @include box-reset-default;
        //border: $gb-row_5-sol-org;
        align-content: center;
        justify-content: center;
        height: 50%;
        #preImgsCol {
            @include box-reset-default;
            //border: $gb-col_5-sol-blu;
            #miniTessSymb {
                @include box-reset-default;
                //border: $gb-elm_2-dsh-lgr;
                height: 250px;
            }
        }
    }
    #prjTextRow {
        @include box-reset-default;
        //border: $gb-row_5-sol-org;
        align-content: center;
        justify-content: center;
        height: 50%;
        #prjTextCol {
            @include box-reset-default;
            //border: $gb-col_5-sol-blu;
            p{ 
                color: black;
                font-weight: 100;
            }
        }
    }
}
#imgsCon {
    @include box-reset-default;
    //border: $gb-con_5-sol-red;
    height: fit-content;
    #imgsRow {
        @include box-reset-default;
        //border: $gb-row_5-sol-org;
        height: fit-content;
        padding: 25px 50px 25px 50px;
        align-content: center;
        justify-content: center;
        #prjIMG {
            @include box-reset-default;
            //border: $gb-col_5-sol-blu;
            height: fit-content;
            width: fit-content;
        }
    }
}
#prjFooterCon {
    @include box-reset-default;
    //border: $gb-con_5-sol-red;
    height: 50vh;
    align-content: end;
    #prjFooterRow {
        @include box-reset-default;
        //border: $gb-row_5-sol-org;
        height: 100px;
        background-color: $cyberGreen;
        align-content: center;
        justify-content: center;
        #prjFooterCol {
            @include box-reset-default;
            //border: $gb-col_5-sol-blu;
            color: black;
            align-content: center;
            justify-items: center;
            h4 {
                @include box-reset-default;
                font-weight: 700;
            }
            h5 {
                @include box-reset-default;
            }
        }
    }
}