@use "../ui/HomePage.scss";
@use "../ui//components/jumbotron/Jumbotron.scss";
@use "../ui/components/jumbotron/menu/Menu.scss";
@use "../ui/components/about/About.scss";
@use "../ui/components/projects/Projetos.scss";
@use "../ui/components/contact/Contact.scss";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap');

* {
    font-family: "Inter", Helvetica, sans-serif;
    font-weight: bolder;
    color: white;
}

  