.container {
    border: 3px dashed red;
    .row {
        border: 3px dashed red;
        h1 {
            border: 3px dashed red;
            color: blue;
            background-color: yellow;
        }
    }
}