@use "../../../../scss" as *;

#secMenuOpen {
    @include box-reset-default;
    //border: $gb-row_5-sol-org;
    height: 100%;
    width: 25%;
    position: absolute;
    z-index: 3;
    background-color: $pastelBlue;
    transition: width 0.5s ease-in-out;
    overflow: hidden;
    #secMenuInnerFrame {
        @include box-reset-default;
        border-bottom: 5px solid $cyberGreen;
        margin: 30px 0 30px 30px;
    }
    #secMenuCol {
        @include box-reset-default;
        //border: $gb-col_5-sol-cyn;
        position: absolute;
        height: 100%;
        #secMenuSymb {
            @include box-reset-default;
            //border: $gb-row_5-dsh-org;
            height: fit-content;
            margin: 30px 30px -30px 32px;
            #secMenuNomaSymbol {
                @include box-reset-default;
                //border: $gb-elm_5-sol-lgr;
                height: 50px;
                cursor: pointer;
                border-radius: 0;
            }
        }
        #secMenuNav {
            @include box-reset-default;
            //border: $gb-row_5-dsh-org;
            height: fit-content;
            margin: 30px 30px -30px 7px;
            overflow: hidden;
            text-wrap: nowrap;
            -webkit-text-stroke: 1.2px white;
            #secMenuList {
                @include box-reset-default;
                //border: $gb-col_2-dsh-cyn;
                list-style: none;
                padding: 25px 0 0 25px;
                li {
                    @include box-reset-default;
                    //border: $gb-col_2-dsh-cyn;
                    a {
                        text-decoration: none;
                        color: inherit; 
                    }
                    h2 {
                        @include box-reset-default;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        a {
                            text-decoration: none;
                            color: inherit; 
                            -webkit-text-stroke: 0px white;
                        }
                    }
                    #hpLi {
                        @include box-reset-default;
                    }
                    #projLi {
                        @include box-reset-default;
                        padding-left: 25px;
                    }
                    #activeProjLi {
                        @include box-reset-default;
                        padding-left: 25px;
                        color: $cyberGreen;
                        cursor: default;
                    }
                }
            }
            
            h2:hover {
                color: $cyberGreen;
                cursor: pointer;
                -webkit-text-stroke: 1.5px $cyberGreen;
                transition: color 0.2s ease-in-out;
            }
            #notAnAnchor:hover {
                color:white;
                -webkit-text-stroke: 1.5px white;
                cursor: default;
            }
        }
        #secMenuFooter {
            @include box-reset-default;
            //border: $gb-row_5-dsh-org;
            height: 60px;
            margin: 30px 30px -30px 7px;
            overflow: hidden;
            text-wrap: nowrap;
            padding-left: 25px;
            padding-bottom: 15px;
            position: absolute;
            bottom: 60px;
            #followUs {
                @include box-reset-default;
                //border: $gb-elm_2-dsh-lgr;
                color: white;
                font-weight: lighter;
                font-size: 85%;
                align-content: end;
            }
            h5 {
                @include box-reset-default;
                //border: $gb-elm_2-dsh-lgr;
                a {
                    text-decoration: none;
                    color: white;
                    font-weight: lighter;
                }
            }
            a:hover {
                color: $cyberGreen;
                cursor: pointer;
                transition: color 0.2s ease-in-out;
            }
            #separator:hover {
                color: black;
            }
        }
    }
}
#secMenuClosed {
    @include box-reset-default;
    //border: $gb-row_5-sol-org;
    width: 0%; 
    height: 100%;
    position: absolute;
    z-index: 3;
    background-color: $cyberGreen;
    background-color: $pastelBlue;
    transition: width 0.5s ease-in-out 0.25s, background-color 0.25s linear;
    overflow: hidden; 
}

@media only screen and (max-width: 768px) {
    #secMenuOpen {
        @include box-reset-default;
        //border: $gb-row_5-sol-org;
        height: 100%;
        width: 100%;
        #secMenuInnerFrame {
            @include box-reset-default;
            border-bottom: 5px solid $cyberGreen;
            margin: 30px;
        }
        #secMenuCol {
            #secMenuSymb {
                #secMenuNomaSymbol {
                    @include box-reset-default;
                    //border: $gb-elm_5-sol-lgr;
                    height: 35px;
                    cursor: pointer;
                    border-radius: 0;
                }
            }
        }
    }
}